<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freedom.san.mybatis.usage.basic.mapper.ClassesMapper">

	<resultMap id="BaseResultMap" type="Classes">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
	</resultMap>


	<!-- 此用法会(select)产生N+1 的情况,一次Class 查询,N次student 参数  使用Lazy  避免-->
	<resultMap id="StudentsRM_Lazy" type="ClassStudent" extends="BaseResultMap">
		<collection property="students" column="id" javaType="ArrayList"
					ofType="Student"
					fetchType="lazy"
					select="freedom.san.mybatis.usage.basic.mapper.StudentMapper.selectAllByCid"/>
	</resultMap>

	<!-- 此用法(select)会产生N+1 的情况,一次Class 查询,N次student 参数 -->
	<resultMap id="StudentsRM_N+1" type="ClassStudent" extends="BaseResultMap">
		<collection property="students" column="id" javaType="ArrayList"
					ofType="Student"
					select="freedom.san.mybatis.usage.basic.mapper.StudentMapper.selectAllByCid"/>
	</resultMap>


	<!-- 此用法 通过join 完成,只是在封装数据时 进行一个对象组装-->
	<resultMap id="StudentsRM_Cascade" type="ClassStudent" extends="BaseResultMap">
		<collection property="students" column="id" javaType="ArrayList"
					ofType="Student"
					columnPrefix="s_"
					resultMap="freedom.san.mybatis.usage.basic.mapper.StudentMapper.studentRM"/>
	</resultMap>


	<select id="selectStudents" resultMap="StudentsRM_N+1" parameterType="int">
		select *
		from classes
		where id = #{id}
	</select>

	<select id="selectAllStudents" resultMap="StudentsRM_N+1">
		select *
		from classes
	</select>


	<select id="selectAllStudentsLazy" resultMap="StudentsRM_Lazy">
		select *
		from classes
	</select>


	<select id="selectAllStudentsCascade" resultMap="StudentsRM_Cascade">
		select c.id,
			   c.name,
			   s.id     as s_id,
			   s.name   as s_name,
			   s.age    as s_age,
			   s.sex    as s_sex,
			   s.cid    as s_cid,
			   s.cardId as s_cardId
		from classes c
				 join student s on
			c.id = s.cid
	</select>

	<select id="selectAll" resultType="freedom.san.mybatis.usage.basic.entity.Classes">
		select *
		from classes
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
			parameterType="freedom.san.mybatis.usage.basic.entity.Classes">
		insert INTO classes(name)
		VALUES (#{name});
	</insert>
	<update id="update" parameterType="freedom.san.mybatis.usage.basic.entity.Classes">
		UPDATE classes
		set name=#{name}
		where id = #{id};
	</update>
	<delete id="delete" parameterType="int">
		delete
		from classes
		where id = #{id};
	</delete>
</mapper>
