<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CardMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Card">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="studentid" column="studentId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,number,studentId
    </sql>
</mapper>
